<nav>
<a class="logo" href="/store/">AMSTORE</a>
<span class="sandwhich"><i class="fas fa-bars"></i></span>
<p class="menu">
<a href="https://alexmercedcoder.github.io/">Portfolio<a>
<a href="https://github.com/alexmercedcoder">Github<a>
<a href="https://www.linkedin.com/in/alexmerced">LinkedIN<a>
<a href="https://www.youtube.com/channel/UCoc4UCEetAt3htM3hV1dQgQ">Youtube<a>
<a href="https://open.spotify.com/show/1kMcquypdIElTu4Nu98XPM">Podcast<a>
<a href="/store/new/">Create a Product</a>
</p>

</nav>
