<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <% include ./partials/head.ejs %>
    </head>


    <!-- THE BODY OF THE WEBSITE -->
    <body>

        <header>
            <% include ./partials/header.ejs %>
        </header>





<!-- CONTENT OF PAGE BEGINS -->
        <main>





        </main>
<!-- CONTENT OF PAGE ENDS -->







        <footer>
            <% include ./partials/footer.ejs %>
        </footer>


    </body>
    <!-- END OF THE HTML FILE -->

</html>
